@import "tailwindcss";

@theme {
  --font-sans: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(4, 4, 35);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
