@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.shake {
    animation: shake 0.4s;
}

@keyframes shake {
    0% { transform: translateX(0px); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0px); }
}
