@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
